/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

$gray: #494949;
$header-gray: #999;
$blue: #4a11ae;
$red: #ff3500;
$yellow: #ffe614;
$green: #0bb600;

@mixin border-radii($value) {
  border-radius: $value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
}

body {
  background-image: url('/squairy_light.png');
}

h6 {
  color: $header-gray;
  text-transform: uppercase;
  font-weight: bold;
}

div.container {
  margin-top: 60px;
  background-color: #FFF;
  padding: 30px;
  margin-bottom: 60px;
}

div.description {
  font-size: 16px;
}

.backlog_items {
  h1 {
    position: relative;
    left: -40px;
  }
}

#position {
  @include border-radii(0.8em);
  display: inline-block;
  font: {
    weight: bold;
    size: 30px;
  }
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  float: left;
  position: relative;
  left: -55px;
  top: 0.5em;
}

.wip {
  color: #FFF;
  background: $yellow;
}

.done {
  color: #FFF;
  background: $green;
}

.not_worked_on {
  color: #FFF;
  background: $gray;
}

.removed {
  color: #FFF;
  background: $red;
}

table.table-noborder {
  tr {
    td {
      border: none;
    }
  }
}

table.discussion {
  tr {
    td {
      padding: 15px;
    }
  }
}

#status {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
