/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

$orange: #FFAA17

body
  background-image: url('/squairy_light.png')

div.content
  padding: 5px 20px 20px 20px
  margin: 100px
  background-color: #FFF

h1
  padding-bottom: 10px
  position: relative
  left: -35px

div.dates
  padding-top: 20px
  font-size: 14px
  margin-bottom: -5px
  span.created
    padding-right: 35px

div.description
  font-size: 18px
  padding: 30px

div.tags
  float: right
  position: relative
  top: -55px
  width: 200px
  padding: 8px 0
  margin-left: 50px

span.position
  background: $orange
  border-radius: 0.8em
  -moz-border-radius: 0.8em
  -webkit-border-radius: 0.8em
  color: #FFF
  display: inline-block
  font-weight: bold
  line-height: 1.6em
  margin-right: 5px
  text-align: center
  width: 1.6em
  font-size: 35px
  position: relative
  left: -50px
  top: 3px
  float: left
