<h1>Backlog</h1>

<table class='table table-striped'>
  <% if @backlog_items.empty? %>
    No items in the backlog
  <% else %>
    <% @backlog_items.each do |backlog_item| %>
      <tr>
        <td><span class='span1'><%= backlog_item.position %></span><span class='span9'><%= link_to backlog_item.name, backlog_item_path(backlog_item) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
